@using IntelliTect.Coalesce.TypeDefinition
@{
    ViewData["Title"] = "My New Coalesce Application";
}

<div class="content" style="margin: 100px; margin-top: 0px">

    <h1 class="thin" style="text-transform: lowercase; text-align: center">
        welcome to your new application, @(User.Identity.Name)!
    </h1>
    <br />
    <h3>Here are the next steps to get started with your new Coalesce application:</h3>
    <ol>
        <li>
            Create your data model by adding classes to the Models folder in your data project, and adding DbSet properties on AppDbContext.
        </li>
        <li>
            Create an EF migration by running
            <code>dotnet ef migrations add MigrationName</code>
            in your .Data project. The pages below will not work until you do so.
        </li>
        <li>
            Implement a proper authentication mechanism in Startup.cs and remove the existing dummy authentication. Options include
            <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity">Identity</a>
            and Windows Authentication (enabled in the Debug tab of the properties of your Web project.)
        </li>
    </ol>
    <h1 class="thin" style="text-transform: lowercase; text-align: center">
        <small>
            below you will find links to your coalesce-generated views.
        </small>
    </h1>
    <br />
    <style>
        .admin-container tbody  {
            font-size: 1.3em;
        }

        td, .admin-container div {
            padding: 3px 10px !important;
        }
    </style>
    <div class="admin-container card">
        <div class="card-body">
            <table class="table highlight-rows">
                <thead>
                    <tr>
                        <th>Entity</th>
                        <th colspan="2">Links</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var vm in ReflectionRepository.Global.ApiBackedClasses.OrderBy(f => f.Name))
                {
                    <tr>
                        <td>@vm.DisplayName</td>
                        @if (vm.SecurityInfo.IsReadAllowed(User))
                        {
                            <td>
                                <a asp-action="Table" asp-controller="@vm.Name" style="padding-right: 15px">Table</a>
                            </td>
                            <td>
                                <a asp-action="Cards" asp-controller="@vm.Name" style="padding-right: 15px">Cards</a>
                            </td>
                        }
                        else
                        {
                            <td colspan="2" class="thin">unauthorized</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>