
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button onclick="window.history.back()" class="btn btn-sm btn-default">Back</button>
            <button data-bind="click:function() { load(); }" class="btn btn-sm btn-default">Refresh</button>
        </div>
        <h1 class="clearfix" style="display:inline-block;">Application User</h1>
        <span class="label label-info" data-bind="fadeVisible: isLoading()">Loading...</span>

    </div>

    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group btn-warning" data-bind="if: errorMessage()">
                <label class="col-md-4 control-label">Error</label>
                <div class="col-md-8">
                    <div class="form-control-static" data-bind="text: errorMessage"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                    <div class="col-md-8 prop-name">@(Knockout.InputFor<Coalesce.Starter.Data.Models.ApplicationUser>(p => p.Name))</div>
            </div>
        </div>
    </div>

    <div class="panel-body">

    </div>
</div>




@section Scripts
{
    <script>
        var aapplicationUser = new ViewModels.ApplicationUser();
        aapplicationUser.includes = "Editor";

        @if (ViewBag.Id != null)
        {
            @:aapplicationUser.load('@ViewBag.Id');
        }
        @if (ViewBag.ParentIdName != null)
        {
            @:aapplicationUser.@(((string)(@ViewBag.ParentIdName)))(@ViewBag.ParentId);
        }

        window.onbeforeunload = function(){
            aapplicationUser.save();
        }

        aapplicationUser.isSavingAutomatically = false;
        aapplicationUser.loadChildren(function() {
            ko.applyBindings(aapplicationUser);
            aapplicationUser.isSavingAutomatically = true;
        });
    </script>
}
