
/* Change here to use a different Bootswatch theme
                                   ==>><<==         */
@import "./node_modules/bootswatch/flatly/_variables.scss";

@import "./node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import './node_modules/components-font-awesome/scss/variables';
@import './node_modules/components-font-awesome/scss/core';
@import './node_modules/components-font-awesome/scss/icons';
@import './node_modules/components-font-awesome/scss/fixed-width';

/* Change here to use a different Bootswatch theme
                                   ==>><<==         */
@import "./node_modules/bootswatch/flatly/_bootswatch";

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Limit the size of a date in a grid */
td div.input-group.date {
    max-width:200px;
}

/* styles for validation helpers */
.field-validation-error {
    color: $brand-danger;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid $brand-danger;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: $brand-danger;
}

.validation-summary-valid {
    display: none;
}


dd:not(:last-of-type) {
    padding-bottom: 10px;
}
dd > .form-control-static,
dd > div > .form-control-static {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 15px;
}

.comma-list {
    list-style: none;
    padding-left: 0;

    li {
        display: inline;

        &:not(:last-of-type)::after {
            content: ', '
        }
    }
}

.flex-card-container {
     margin: 0 -10px ; // negate the margins on the cards along the outside edges so that things stay lined up
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: stretch
}

.card {
    margin: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

    .card-body {
        padding: 15px;
        flex-grow: 1;
    }

    .card-body:before,
    .card-body:after {
        display: table;
        content: " ";
    }

    .card-body:after {
        clear: both;
    }

    > .table {
        margin-bottom: 0;
    }

    > .card-body + .table {
        border-top: 1px solid $gray-light;
    }

    .card-heading {
        padding: $panel-heading-padding;
        border-bottom: 1px solid $gray-light;
        border-top-right-radius: $border-radius-small;
        border-top-left-radius: $border-radius-small;
    }

    .card-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }

    .card-title > a {
        color: inherit;
    }
}


.flex-card {
    @extend .card;

    flex-grow: 1;
    width: 300px;
    display: flex;
    flex-direction: column;

    .card-body.flex {
        display: flex;
        flex-direction: column;
    }
}